<ng-container *transloco="let t">
  <form class="flex flex-col gap-4" (submit)="onSubmit(); $event.preventDefault()">
    <hlm-dialog-header>
      <h3 hlmDialogTitle>{{ t('repos.addTitle') }}</h3>
      <p hlmDialogDescription>{{ t('repos.addDescription') }}</p>
    </hlm-dialog-header>

    <div hlmField [attr.data-invalid]="validationError() ? true : null">
      <label hlmFieldLabel for="remote-url">{{ t('repos.urlLabel') }}</label>
      <input
        hlmInput
        id="remote-url"
        type="text"
        [placeholder]="t('repos.urlPlaceholder')"
        [value]="remoteUrl()"
        (input)="remoteUrl.set($any($event.target).value)"
        [disabled]="submitting()"
        [attr.aria-invalid]="validationError() ? true : null"
        autocomplete="url"
      />
      @if (validationError()) {
        <hlm-field-error>{{ validationError() }}</hlm-field-error>
      }
    </div>

    <div hlmDialogFooter>
      <button hlmBtn variant="outline" type="button" [disabled]="submitting()" brnDialogClose>
        {{ t('common.cancel') }}
      </button>
      <button hlmBtn type="submit" [disabled]="submitting()">
        @if (submitting()) {
          <hlm-spinner class="mr-1 text-xs" />
          {{ t('common.cloning') }}
        } @else {
          {{ t('common.register') }}
        }
      </button>
    </div>
  </form>
</ng-container>
